@media only screen and (min-width: 768px) {
  .errorMessage_section {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .errorMessage_titele {
    font-size: 40px;
    padding: 40px;
    border-radius: 3px;
    border: 2px solid rgb(94, 13, 13);
  }
}
