@media only screen and (min-width: 768px) {
  .searchBar_container {
    padding: 0;
  }

  .searchBar_header {
    background-color: blue;
    padding-top: 7px;
    padding-bottom: 7px;
  }

  .searchBar_form {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .inputWrapper {
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .searchBar_input {
    flex-grow: 1;
    background-color: white;
    border-radius: 3px;
    font-size: 20px;
    padding: 5px 10px 5px 40px;
    width: 350px;
    box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
    border: 1px solid #ccc;
  }

  .searchBar_button {
    background-color: rgb(228, 228, 228);
    border-radius: 5px;
    padding: 5px 10px;
    font-size: 20px;
    transition: background-color 0.3s ease;
  }

  .searchBar_button:hover {
    background-color: rgb(200, 200, 200);
  }

  .searchIcon {
    position: absolute;
    left: 10px;
    font-size: 26px;
  }
}
