@media only screen and (min-width: 768px) {
  .imageModal_img {
    max-width: 100%;
    max-height: 80vh;
  }

  .imageModal_list {
    display: flex;
  }

  .imageModal_item {
    display: flex;
    flex-direction: column;
    gap: 7px;
    padding: 15px 5px;
    align-items: center;
    flex-grow: 1;
  }

  .imageModal_item:not(:last-child) {
    border-right: 2px solid #808080;
  }

  .imageModal_value,
  .imageModal_quantity {
    font-size: 20px;
    font-weight: bold;
    color: rgb(60, 82, 82);
  }

  .imageModal_quantity {
    font-size: 17px;
  }

  .imageModal_value_wrapper {
    display: flex;
    gap: 5px;
    align-items: center;
  }
}
